mixin mdl-nav(items)
  nav.mdl-navigation
    each item in items
      a.mdl-navigation__link(href=item.href)= item.content

.layout-wrapper
  .mdl-layout.mdl-js-layout(
    class={
      'mdl-layout--fixed-drawer': $component.isAttributeEnabled('fixed-drawer'),
      'mdl-layout--fixed-header': $component.isAttributeEnabled('fixed-header'),
      'mdl-layout--fixed-tabs':   $component.isAttributeEnabled('fixed-tabs'),
    }
  )
    - const header = $helpers.header();
    if header
      header.mdl-layout__header(
        class={
          'mdl-layout__header--scroll': !$component.isAttributeEnabled('fixed-header'),
          'mdl-layout__header--transparent': $component.isAttributeEnabled('transparent-header'),
          'mdl-layout__header--waterfall': $component.isAttributeEnabled('waterfall-header'),
        }
      )
        each row in header.rows
          .mdl-layout__header-row
            each item in row
              case item.type
                when 'content'
                  content(select=item.select)
                when 'nav'
                  +mdl-nav(item.items)
                when 'spacer'
                  .mdl-layout-spacer
                when 'title'
                  span.mdl-layout-title= item.content
        if header.tabs
          .mdl-layout__tab-bar.mdl-js-ripple-effect
            each tab in header.tabs
              a.mdl-layout__tab(
                class={'is-active': tab.active}
                href=tab.target
              )= tab.text

    - const drawer = $helpers.drawer();
    if drawer
      .mdl-layout__drawer
        span.mdl-layout-title= drawer.title
        +mdl-nav(drawer.items)

    main.mdl-layout__content
      if header && header.tabs
        - const sections = $helpers.sections();
        each section in sections
          section.mdl-layout__tab-panel(
            class={'is-active': section.active}
            id=section.id
          )
            .page-content
              content(select=section.contentSelect)
      else
        .page-content
          content(select='main')
